@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  margin: 0;
  padding: 0;
  display: block;
  scroll-snap-align: start;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background: #FFF9E9;
}

#hero {
  box-sizing: border-box;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 60px;
  gap: 100px;
  height: auto;
  background: #FFF9E9;
}

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  width: 100%;
  max-width: 800px;
}

#hero-text h1 {
  margin: 0;
  font-size: 2rem;
}

#hero-text p {
  font-size: 1rem;
  padding: 0 10px;
}

#find-texts-button {
  font-family: 'Lexend', sans-serif;
  background-color: #FFC942;
  width: 180px;
  min-height: 50px;
  border-radius: 8px;
  font-size: 16px;
  border: #40362C 3px solid;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

#find-texts-button:hover {
  box-shadow: none;
}

#find-texts-button:active {
  background-color: #FFDB80;
}

#selected-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  gap: 50px;
  background-color: #8ABEB2;
  height: auto;
}

.selected-texts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}

.selected-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: #40362C 3px solid;
  width: 100%;
  max-width: 250px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 1);
  border-radius: 8px;
  text-align: center;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  height: auto;
}

#call-to-action-content, #call-to-action-words {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#call-to-action-content {
  background-color: #FFDB80;
  flex-direction: column;
}

#call-to-action-words {
  background-color: #FFAE80;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  #hero-content {
    flex-direction: row;
    text-align: left;
    gap: 50px;
  }
  
  #call-to-action {
    flex-direction: row;
    height: 600px;
  }
  
  #call-to-action-content, #call-to-action-words {
    width: 50%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  #hero-text h1 {
    font-size: 3rem;
  }
  #hero-text p {
    font-size: 1.2rem;
  }
}
