@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body{
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background: #FFF9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content
}

#navigation{
  /* navbar - no bg color */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 50px
}

#nav-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 1240px;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  order: 0;
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

a{
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

#search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  min-height: calc(100vh - 50px); /* Adjust for navbar height */
  margin-top: 50px;
}

#search-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  padding: 0px;
  
  height: auto;
}

#search-bar{
  background-color: white;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
 
}

.dropdown-menu{
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  width: 100%;
}

div.filter-sort{
  border-top: 1px solid #40362C;
  border-bottom: 1px solid #40362C;
}


#search-results-content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 20px;
  align-items: center;
  padding: 0px;
  width: 1240px;
  height: 100vh;
  margin-bottom: 200px;
}


.text-card{
  background-color: white;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-image{
  width: 100px;
  height: 100px;
}


#footer{
  display: flex;
  flex-direction: row;
  
  background-color: FFF9E9;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}

#footer-content{
  display: flex;
  flex-direction: row;
  height: 80px;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

a.footer{
color: black;
}
